<p id="notice"><%= notice %></p>

<h1>Images</h1>

<%= link_to 'New Image', new_image_path %>

<% @images.each do |image| %>
  <p>
    <strong>Url:</strong>
    <%= image.url %>
    <br>
    <%= image_tag image.url, :class => 'max_image' %>
    <br>
    <h6>Tags:</h6>
    <% image.tag_list.each do |tag| %>
      <%#= link_to tag, tagged_path(tag: tag) %>
      <%= tag %>
      <br>
    <% end %>
  </p>
<% end %>
