<p id="notice"><%= notice %></p>
<%= link_to 'Home', root_path %>
<br>
<p>All tags: </p>
<% ActsAsTaggableOn::Tag.all.each do |tag| %>
  <span><%= link_to tag, root_path(tag: tag) %></span>
<% end %>
<h1>Images</h1>
<%= link_to 'New Image', new_image_path %>

<% @images.each do |image| %>
  <p>
    <strong>Url:</strong>
    <%= image.url %>
    <br>
    <%= image_tag image.url, :class => 'max_image' %>
    <%= link_to 'delete', image_path(image.id), data: { method: :delete, confirm: "Are you sure?" } %>
    <p><h2>Tags:</h2>
      <% image.tag_list.each do |tag| %>
        <span><%= link_to tag, root_path(tag: tag) %></span>
        <br>
      <% end %>
    </p>
  </p>
<% end %>
