<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @image.url %>
  <br>
  <%= image_tag @image.url, :class => 'max_image' %>
  <br>
  <h6>Tags:</h6>
  <% @image.tag_list.each do |tag| %>
    <%= tag %>
    <br>
  <% end %>
</p>

<%= link_to 'Back', images_path %>
